# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# React (client)
*/node_modules/
*/.env
client/build/
client/dist/

# macOS
.DS_Store

# Logs
logs
*.log
logs/**/*.log

# Optional:
*.tgz
.idea/
.vscode/
